body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: hls(176, 72%, 28%)
}

.mastercraft-logo {
  position: absolute;
  left: 50%;
  top: -13%;
  transform: translateX(-50%);
}

.desc {
  color: hsl(176,72%,28%);
}

.data > article:last-child h3{
  color: #9b9b9b;
}

.data > article:last-child p.desc-inner {
  color: #9b9b9b;
}

.data > article:last-child button {
    background-color: #9b9b9b;
}